/* FeedbackBoard.css */
.c-green {
    color: var(--green);
    text-shadow: 0 0 10px rgba(74, 222, 128, 0.3);
    border-color: var(--green) !important;
}
  
.c-yellow {
    color: var(--yellow);
    text-shadow: 0 0 10px rgba(250, 204, 21, 0.3);
    border-color: var(--yellow) !important;
}

.c-red {
    color: var(--red);
    text-shadow: 0 0 10px rgba(248, 113, 113, 0.3);
    border-color: var(--red) !important;
}
